body {
  font-family: 'Poppins', sans-serif;
}
.display-1 {
  font-family: 'Poppins', sans-serif;
  font-size: 5rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 6.25rem;
}
.display-2 {
  font-family: 'Poppins', sans-serif;
  font-size: 4rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 5rem;
}
.display-4 {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  line-height: 1.2;
}
.display-4 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-5 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.625rem;
  line-height: 1.2;
}
.display-5 > .mbr-iconfont {
  font-size: 3.28125rem;
}
.display-7 {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  line-height: 1.25;
}
.display-7 > .mbr-iconfont {
  font-size: 1.25rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 4rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.5rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.2 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 2.1rem;
    font-size: calc( 1.5687499999999999rem + (2.625 - 1.5687499999999999) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.2 * (1.5687499999999999rem + (2.625 - 1.5687499999999999) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.25 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #1a0b43 !important;
}
.bg-success {
  background-color: #64ff54 !important;
}
.bg-info {
  background-color: #1a0b43 !important;
}
.bg-warning {
  background-color: #166308 !important;
}
.bg-danger {
  background-color: #166308 !important;
}
.btn-primary .btn-overlay {
  background-color: #0b0813 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #1a0b43 !important;
  border-color: #1a0b43 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #0b0813 !important;
  border-color: #0b0813 !important;
}
.btn-secondary .btn-overlay {
  background-color: #122a0e !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #166308 !important;
  border-color: #166308 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #122a0e !important;
  border-color: #122a0e !important;
}
.btn-info .btn-overlay {
  background-color: #0b0813 !important;
}
.btn-info,
.btn-info:active {
  background-color: #1a0b43 !important;
  border-color: #1a0b43 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #0b0813 !important;
  border-color: #0b0813 !important;
}
.btn-success .btn-overlay {
  background-color: #54d947 !important;
}
.btn-success,
.btn-success:active {
  background-color: #64ff54 !important;
  border-color: #64ff54 !important;
  color: #085400 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #085400 !important;
  background-color: #54d947 !important;
  border-color: #54d947 !important;
}
.btn-warning .btn-overlay {
  background-color: #122a0e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #166308 !important;
  border-color: #166308 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #122a0e !important;
  border-color: #122a0e !important;
}
.btn-danger .btn-overlay {
  background-color: #122a0e !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #166308 !important;
  border-color: #166308 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #122a0e !important;
  border-color: #122a0e !important;
}
.btn-white .btn-overlay {
  background-color: #e1e1e1 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #e1e1e1 !important;
  border-color: #e1e1e1 !important;
}
.btn-black .btn-overlay {
  background-color: #000000 !important;
}
.btn-black,
.btn-black:active {
  background-color: #1b1f0a !important;
  border-color: #1b1f0a !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #1a0b43;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #1a0b43 !important;
  border-color: #1a0b43 !important;
}
.btn-secondary-outline {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #166308;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #041302 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #166308 !important;
  border-color: #166308 !important;
}
.btn-info-outline {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #1a0b43;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #1a0b43 !important;
  border-color: #1a0b43 !important;
}
.btn-success-outline {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #64ff54;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #18fc00 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #085400 !important;
  background-color: #64ff54 !important;
  border-color: #64ff54 !important;
}
.btn-warning-outline {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #166308;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #041302 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #166308 !important;
  border-color: #166308 !important;
}
.btn-danger-outline {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #166308;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #041302 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #166308 !important;
  border-color: #166308 !important;
}
.btn-black-outline {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #1b1f0a;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #1b1f0a !important;
  border-color: #1b1f0a !important;
}
.btn-white-outline {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #1a0b43 !important;
}
.text-secondary {
  color: #166308 !important;
}
.text-success {
  color: #64ff54 !important;
}
.text-info {
  color: #1a0b43 !important;
}
.text-warning {
  color: #166308 !important;
}
.text-danger {
  color: #166308 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #1B1F0A !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #000000 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #010500 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #16ed00 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #000000 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #010500 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #010500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #1a0b43;
}
.nav-tabs .nav-link:not(.active) {
  color: #1B1F0A;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #1a0b43;
}
.alert-warning {
  background-color: #166308;
}
.alert-danger {
  background-color: #166308;
}
.mbr-gallery-filter li.active .btn {
  background-color: #1a0b43;
  border-color: #1a0b43;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #1a0b43;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #7851e2;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #7851e2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #30d912;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #30d912;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 2.5rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #1a0b43 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 2.5rem;
}
blockquote {
  border-color: #1a0b43;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #1a0b43;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #1a0b43;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #1a0b43;
  border-bottom-color: #1a0b43;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #1a0b43 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #166308 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%231a0b43' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
a:hover {
  background-image: none !important;
}
.container {
  width: 90%;
  max-width: 70rem;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.row {
  margin-left: 0;
  margin-right: 0;
  justify-content: center;
}
.row > [class*="col"] {
  padding-left: 0;
  padding-right: 0;
}
.mbr-section-btn .btn {
  min-width: 100px;
  border-radius: 100vw;
  padding: 1rem 1.5rem;
  line-height: 1.25;
  font-weight: 600 !important;
  box-shadow: none !important;
  border: none !important;
  position: relative;
  overflow: hidden;
}
.mbr-section-btn .btn .mbr-iconfont {
  position: relative;
  z-index: 1000;
}
.mbr-section-btn .btn-transform {
  position: relative;
  overflow: hidden;
  transition: 0.3s all !important;
}
.mbr-section-btn .btn-transform .btn-transform-1 {
  transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  transition: 0.3s all !important;
  animation: btn-move-out 0.3s ease-in-out;
}
.mbr-section-btn .btn-overlay {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 0, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  height: 100%;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  transition: 0.3s all !important;
}
.mbr-section-btn .btn {
  transition: 0.3s all !important;
}
.mbr-section-btn .btn:hover .btn-transform .btn-transform-1 {
  animation: btn-move 0.3s ease-in-out;
}
.mbr-section-btn .btn:hover .btn-overlay {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg) !important;
}
@media (max-width: 575px) {
  .mbr-section-btn {
    display: flex;
    flex-wrap: wrap;
  }
  .mbr-section-btn .btn {
    width: 100%;
    box-shadow: none !important;
  }
}
b {
  font-weight: 600 !important;
}
@keyframes btn-move {
  0% {
    transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
  49% {
    transform: translate3d(0px, -100%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
  50% {
    transform: translate3d(0px, -100%, 0px) scale3d(1, 0, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
  51% {
    transform: translate3d(0px, 100%, 0px) scale3d(1, 0, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
  52% {
    transform: translate3d(0px, 100%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
  100% {
    transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
}
@keyframes btn-move-out {
  0% {
    transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
  49% {
    transform: translate3d(0px, 100%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
  50% {
    transform: translate3d(0px, 100%, 0px) scale3d(1, 0, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
  51% {
    transform: translate3d(0px, -100%, 0px) scale3d(1, 0, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
  52% {
    transform: translate3d(0px, -100%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
  100% {
    transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
}
.cid-t2YNqczNcv {
  z-index: 1000;
  width: 100%;
  position: relative;
}
.cid-t2YNqczNcv nav.navbar {
  position: absolute !important;
}
.cid-t2YNqczNcv .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-t2YNqczNcv .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  transition: .3s all;
}
.cid-t2YNqczNcv .nav-link {
  position: relative;
}
.cid-t2YNqczNcv .container {
  display: flex;
  margin: auto;
  position: fixed !important;
  left: 0;
  right: 0;
  width: 90%;
  max-width: 61.25rem;
  margin-right: auto;
  margin-left: auto;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100vw;
  margin-top: 24px;
  background-color: #f3f4ef;
  box-shadow: 0 30px 60px 0 rgba(27, 31, 10, 0.08);
}
@media (min-width: 992px) {
  .cid-t2YNqczNcv .container {
    flex-wrap: nowrap;
  }
}
.cid-t2YNqczNcv .iconfont-wrapper {
  color: #1b1f0a !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-t2YNqczNcv .dropdown-menu {
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 100%;
  padding: 4px !important;
  border-radius: 100vw;
  transition: .3s all !important;
  min-width: auto;
  background: #f3f4ef !important;
}
.cid-t2YNqczNcv .nav-item:focus,
.cid-t2YNqczNcv .nav-link:focus {
  outline: none;
}
.cid-t2YNqczNcv .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-t2YNqczNcv .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-t2YNqczNcv .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-t2YNqczNcv .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-t2YNqczNcv .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-t2YNqczNcv .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-t2YNqczNcv .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: transparent !important;
  padding: 0 !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}
.cid-t2YNqczNcv .navbar.opened {
  transition: all 0.3s;
}
.cid-t2YNqczNcv .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-t2YNqczNcv .navbar .navbar-logo img {
  width: auto;
}
.cid-t2YNqczNcv .navbar .navbar-collapse {
  justify-content: center;
  z-index: 1;
}
.cid-t2YNqczNcv .navbar.collapsed {
  justify-content: center;
}
.cid-t2YNqczNcv .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-t2YNqczNcv .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-t2YNqczNcv .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-t2YNqczNcv .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-t2YNqczNcv .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-t2YNqczNcv .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-t2YNqczNcv .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-t2YNqczNcv .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-t2YNqczNcv .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-t2YNqczNcv .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-t2YNqczNcv .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-t2YNqczNcv .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-t2YNqczNcv .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-t2YNqczNcv .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-t2YNqczNcv .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-t2YNqczNcv .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-t2YNqczNcv .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-t2YNqczNcv .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-t2YNqczNcv .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-t2YNqczNcv .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-t2YNqczNcv .navbar.navbar-short {
  min-height: 60px;
}
.cid-t2YNqczNcv .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-t2YNqczNcv .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-t2YNqczNcv .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-t2YNqczNcv .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-t2YNqczNcv .dropdown-item.active,
.cid-t2YNqczNcv .dropdown-item:active {
  background-color: transparent;
}
.cid-t2YNqczNcv .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-t2YNqczNcv .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-t2YNqczNcv .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-t2YNqczNcv .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #f3f4ef;
}
.cid-t2YNqczNcv .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-t2YNqczNcv .navbar .dropdown.open > .dropdown-menu {
  display: flex;
}
.cid-t2YNqczNcv ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-t2YNqczNcv .navbar-buttons {
  text-align: center;
  min-width: 140px;
}
.cid-t2YNqczNcv button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-t2YNqczNcv button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #1b1f0a;
}
.cid-t2YNqczNcv button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-t2YNqczNcv button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-t2YNqczNcv button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-t2YNqczNcv button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-t2YNqczNcv nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-t2YNqczNcv nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-t2YNqczNcv nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-t2YNqczNcv nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-t2YNqczNcv .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-t2YNqczNcv a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-t2YNqczNcv .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-t2YNqczNcv .navbar {
    height: 70px;
  }
  .cid-t2YNqczNcv .navbar.opened {
    height: auto;
  }
  .cid-t2YNqczNcv .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-t2YNqczNcv .navbar-nav .nav-item {
  margin: 0 8px !important;
  padding: 0 !important;
  transition: .3s all !important;
}
.cid-t2YNqczNcv .navbar-nav .nav-item .nav-link {
  padding: 12px 12px 12px 16px !important;
  margin: 0 !important;
  border-radius: 100vw !important;
  transition: .3s all !important;
}
.cid-t2YNqczNcv .navbar-nav .nav-item .nav-link:hover {
  background-color: rgba(27, 31, 10, 0.06);
}
.cid-t2YNqczNcv .navbar-nav .open .nav-link::after {
  transform: rotate(180deg);
}
@media (min-width: 992px) {
  .cid-t2YNqczNcv .navbar-nav .open .nav-link::before {
    content: "";
    width: 100%;
    height: 20px;
    top: 100%;
    background: transparent;
    position: absolute;
  }
}
.cid-t2YNqczNcv .navbar-nav .dropdown-item {
  padding: 12px !important;
  border-radius: 100vw !important;
  margin: 0 8px !important;
  transition: .3s all !important;
}
.cid-t2YNqczNcv .navbar-nav .dropdown-item:hover {
  background-color: rgba(27, 31, 10, 0.06);
}
.cid-t2YNqczNcv .navbar .dropdown > .dropdown-menu {
  display: none;
  width: max-content;
  max-width: 500px !important;
  transform: translateX(-50%);
  top: calc(100% + 20px);
  left: 50%;
}
.cid-t2YNqczNcv .navbar .dropdown > .dropdown-menu .dropdown-item {
  line-height: 1 !important;
}
.cid-t2YNqczNcv .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item {
  align-items: center;
  display: flex;
  height: max-content !important;
  min-height: max-content !important;
}
.cid-t2YNqczNcv .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item::after {
  display: inline-block;
  position: static;
  margin-left: 0.5rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  transition: .3s all;
  transform: rotate(-90deg);
}
.cid-t2YNqczNcv .navbar .dropdown > .dropdown-menu .dropdown.open .dropdown-item::after {
  transform: rotate(90deg);
}
.cid-t2YNqczNcv .dropdown-submenu {
  position: relative;
  max-width: 500px !important;
  transform: translateX(-50%) !important;
  top: calc(100% + 8px) !important;
  left: 50% !important;
}
@media (min-width: 992px) {
  .cid-t2YNqczNcv .dropdown-submenu::before {
    content: "";
    width: 100%;
    height: 8px;
    bottom: 100%;
    background: transparent;
    position: absolute;
  }
}
.cid-t2YNqczNcv .mbr-section-btn {
  margin: -0.6rem -0.6rem;
}
.cid-t2YNqczNcv .mbr-section-btn .btn {
  padding: 0.5rem 1rem;
}
.cid-t2YNqczNcv .navbar-toggler {
  margin-left: 12px;
  margin-right: 8px;
  order: 1000;
}
@media (max-width: 991px) {
  .cid-t2YNqczNcv .container {
    position: relative;
  }
  .cid-t2YNqczNcv .navbar-brand {
    margin-right: auto;
  }
  .cid-t2YNqczNcv .navbar-collapse {
    z-index: -1 !important;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    padding: 0 1rem 1rem  2rem;
    border-top: 2rem solid #f3f4ef;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    background: rgba(223, 224, 218, 0.94);
    backdrop-filter: blur(8px);
  }
  .cid-t2YNqczNcv .navbar-nav .nav-item .nav-link {
    justify-content: left;
  }
  .cid-t2YNqczNcv .navbar-nav .nav-item .nav-link::after {
    margin-left: auto;
  }
  .cid-t2YNqczNcv .navbar-nav .dropdown-item:hover {
    background-color: rgba(27, 31, 10, 0.06);
  }
  .cid-t2YNqczNcv .navbar .dropdown > .dropdown-menu {
    width: 100%;
    max-width: 100% !important;
    transform: translateX(0);
    top: 0;
    left: 0;
    padding: 8px !important;
    border-radius: 1rem;
    background-color: rgba(27, 31, 10, 0.04) !important;
  }
  .cid-t2YNqczNcv .navbar .dropdown > .dropdown-menu .dropdown-item {
    padding: 8px !important;
    line-height: 1 !important;
    margin-bottom: 4px !important;
  }
  .cid-t2YNqczNcv .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item {
    align-items: center;
    display: flex;
    height: max-content !important;
    min-height: max-content !important;
  }
  .cid-t2YNqczNcv .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item::after {
    display: inline-block;
    position: static;
    margin-left: 0.5rem;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    transition: .3s all;
    transform: rotate(0deg);
  }
  .cid-t2YNqczNcv .navbar .dropdown > .dropdown-menu .dropdown.open .dropdown-item::after {
    transform: rotate(180deg);
  }
  .cid-t2YNqczNcv .navbar .dropdown > .dropdown-menu .dropdown-submenu {
    position: static;
    width: 100%;
    max-width: 100% !important;
    transform: translateX(0) !important;
    top: 0;
    left: 0;
    padding: 8px !important;
    border-radius: 1rem;
    background-color: rgba(27, 31, 10, 0.04) !important;
  }
  .cid-t2YNqczNcv .navbar .dropdown.open > .dropdown-menu {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
  }
}
.cid-t2YNqczNcv .navbar-fixed-top {
  position: absolute !important;
}
.cid-t2YUH3TQAq {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/cyber-security-gc74726fc2-1920.jpg");
}
.cid-t2YUH3TQAq .mbr-fallback-image.disabled {
  display: none;
}
.cid-t2YUH3TQAq .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-t2YUH3TQAq .mbr-section-title {
  color: #f3f4ef;
  margin-bottom: 16px;
}
.cid-t2YUH3TQAq .colored-text {
  line-height: inherit;
  font-weight: inherit;
  color: inherit;
  color: #ddff55;
}
.cid-t2YUH3TQAq .mbr-section-subtitle {
  color: #f3f4ef;
  margin-bottom: 16px;
  text-align: left;
}
.cid-t2YUH3TQAq .mbr-text {
  color: #f3f4ef;
  margin-bottom: 0;
}
.cid-t2YUH3TQAq .mbr-section-btn {
  margin-top: 144px;
}
.cid-t2YUH3TQAq .mbr-section-title,
.cid-t2YUH3TQAq .mbr-section-btn {
  text-align: left;
}
.cid-t2YVqbwMGe {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-t2YVqbwMGe .row {
  align-items: center;
  width: 100%;
}
.cid-t2YVqbwMGe .mbr-section-head {
  margin-bottom: 2rem;
  padding: 0 !important;
}
.cid-t2YVqbwMGe .mbr-section-title {
  color: #000000;
}
.cid-t2YVqbwMGe .mbr-section-subtitle {
  color: #f3f4ef;
}
.cid-t2YVqbwMGe .content-container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  padding: 0 !important;
}
@media (max-width: 767px) {
  .cid-t2YVqbwMGe .content-container {
    grid-template-columns: 1fr;
  }
}
.cid-t2YVqbwMGe .col-text {
  display: flex;
  align-items: center;
  width: 100%;
}
.cid-t2YVqbwMGe .text-container {
  padding: 32px;
  height: 100%;
  border: 1px solid #1a0b43;
}
@media (max-width: 991px) {
  .cid-t2YVqbwMGe .text-container {
    padding: 24px;
  }
}
.cid-t2YVqbwMGe .text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.cid-t2YVqbwMGe .iconfont-wrapper {
  margin-bottom: 8px;
}
.cid-t2YVqbwMGe .iconfont-wrapper .mbr-iconfont {
  display: block;
  font-size: 36px;
  color: #1a0b43;
}
.cid-t2YVqbwMGe .card-title {
  width: 100%;
  color: #000000;
  margin-bottom: 0;
}
.cid-t2YVqbwMGe .mbr-text {
  color: #000000;
  width: 100%;
  margin-bottom: 0;
  margin-top: 8px;
  opacity: 0.8;
}
.cid-t2YW8wTxz2 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-t2YW8wTxz2 .row {
  align-items: center;
  width: 100%;
}
.cid-t2YW8wTxz2 .mbr-section-head {
  margin-bottom: 2rem;
  padding: 0 !important;
}
.cid-t2YW8wTxz2 .mbr-section-title {
  color: #f3f4ef;
  width: 100%;
  margin-bottom: 0;
}
.cid-t2YW8wTxz2 .mbr-section-subtitle {
  color: #f3f4ef;
  opacity: 0.8;
}
.cid-t2YW8wTxz2 .content-container {
  display: flex;
  padding: 60px !important;
  background-color: #56f1ff;
}
@media (max-width: 991px) {
  .cid-t2YW8wTxz2 .content-container {
    flex-wrap: wrap;
  }
}
@media (max-width: 767px) {
  .cid-t2YW8wTxz2 .content-container {
    padding: 2.5rem !important;
  }
}
@media (max-width: 565px) {
  .cid-t2YW8wTxz2 .content-container {
    padding: 2rem !important;
  }
}
.cid-t2YW8wTxz2 .col-img {
  width: 50%;
  max-width: 50%;
}
@media (max-width: 991px) {
  .cid-t2YW8wTxz2 .col-img {
    width: 100%;
    max-width: 100%;
  }
}
.cid-t2YW8wTxz2 .img-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding-right: 30px;
}
@media (max-width: 991px) {
  .cid-t2YW8wTxz2 .img-container {
    padding-right: 0;
  }
}
.cid-t2YW8wTxz2 .img-container img {
  max-width: 100%;
  width: auto;
  height: auto;
}
.cid-t2YW8wTxz2 .col-text {
  display: flex;
  align-items: center;
  width: 50%;
}
@media (max-width: 991px) {
  .cid-t2YW8wTxz2 .col-text {
    width: 100%;
    margin-top: 2rem;
  }
}
.cid-t2YW8wTxz2 .text-container {
  padding-left: 30px;
}
@media (max-width: 991px) {
  .cid-t2YW8wTxz2 .text-container {
    padding-left: 0;
  }
}
.cid-t2YW8wTxz2 .text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.cid-t2YW8wTxz2 .label-text {
  width: 100%;
  color: #1B1F0A;
  padding: 0.375rem 0;
}
.cid-t2YW8wTxz2 .label-text span {
  padding: 0.375rem 0.625rem;
  border-style: solid;
  border-width: 1px;
  border-color: currentColor;
  border-radius: 100vw;
  color: currentColor;
}
.cid-t2YW8wTxz2 .card-title {
  width: 100%;
  color: #1B1F0A;
  margin-bottom: 4px;
}
.cid-t2YW8wTxz2 .mbr-text {
  letter-spacing: inherit;
  color: #1B1F0A;
  width: 100%;
  margin-bottom: 32px;
}
.cid-t2ZkCfcHJd {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-t2ZkCfcHJd .row {
  align-items: center;
  width: 100%;
}
.cid-t2ZkCfcHJd .content-container {
  display: flex;
  flex-direction: column;
  padding: 6rem 0 0 0 !important;
  background-color: #56f1ff;
}
@media (max-width: 767px) {
  .cid-t2ZkCfcHJd .content-container {
    padding: 2.5rem 0 0 0 !important;
  }
}
.cid-t2ZkCfcHJd .col-text {
  display: flex;
  align-items: center;
  width: 100%;
}
.cid-t2ZkCfcHJd .text-container {
  max-width: 37.5rem;
  margin-right: auto;
  margin-bottom: 1.5rem;
  margin-left: auto;
}
@media (max-width: 767px) {
  .cid-t2ZkCfcHJd .text-container {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}
.cid-t2ZkCfcHJd .text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.cid-t2ZkCfcHJd .label-text {
  width: 100%;
  margin-bottom: 0.8rem;
  color: #1B1F0A;
}
.cid-t2ZkCfcHJd .label-text span {
  padding: 0.375rem 0.625rem;
  border-style: solid;
  border-width: 1px;
  border-color: currentColor;
  border-radius: 100vw;
  color: currentColor;
}
.cid-t2ZkCfcHJd .mbr-section-title {
  width: 100%;
  color: #1B1F0A;
  margin-bottom: 8px;
}
.cid-t2ZkCfcHJd .mbr-text {
  letter-spacing: inherit;
  color: #1B1F0A;
  width: 100%;
  margin-bottom: 0;
  opacity: 0.8;
}
.cid-t2ZkCfcHJd .btn-container {
  width: 100%;
}
.cid-t2ZkCfcHJd .mbr-section-btn {
  margin-top: 0.6rem;
}
@media (max-width: 575px) {
  .cid-t2ZkCfcHJd .mbr-section-btn {
    display: flex;
    flex-wrap: wrap;
  }
}
.cid-t2ZkCfcHJd .col-img {
  width: 100%;
  max-width: 100%;
}
.cid-t2ZkCfcHJd .img-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  max-height: 326px;
}
.cid-t2ZkCfcHJd .img-container img {
  max-width: 100%;
  max-height: 326px;
  width: auto;
  height: auto;
}
.cid-tfkwfPBUFl {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #ffffff;
}
.cid-tfkwfPBUFl .list-group-item {
  padding: 0.75rem 4rem;
  background-color: transparent;
}
.cid-tfkwfPBUFl .plan {
  word-break: break-word;
  position: relative;
  z-index: 1;
  max-width: 400px;
  padding-right: 0;
  padding-left: 0;
  color: #767676;
}
.cid-tfkwfPBUFl .plan:after {
  content: '';
  position: absolute;
  transition: all 0.3s;
  border-radius: 100%;
  z-index: -1;
  bottom: 1rem;
  left: 50%;
  right: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 40px;
  box-shadow: 0 35px 30px 0 rgba(0, 0, 0, 0.35);
}
.cid-tfkwfPBUFl .plan .list-group-item {
  position: relative;
  -webkit-justify-content: center;
  justify-content: center;
  border: 0;
}
.cid-tfkwfPBUFl .plan .list-group-item::after {
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 60%;
  height: 2px;
  content: '';
  background-color: #eaeaea;
}
.cid-tfkwfPBUFl .plan .list-group-item:last-child::after {
  display: none;
}
.cid-tfkwfPBUFl .plan:hover:after {
  opacity: 1;
}
.cid-tfkwfPBUFl .nav-tabs {
  border: none;
}
.cid-tfkwfPBUFl .nav-tabs .nav-item {
  margin: 0;
}
.cid-tfkwfPBUFl .nav-tabs .nav-item .btn {
  color: #166308 !important;
  transition: all 0.5s;
  margin: 0px !important;
  background-color: transparent !important;
  border-radius: 0 !important;
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  border-color: #1a0b43 !important;
  box-shadow: none !important;
}
.cid-tfkwfPBUFl .nav-tabs .nav-item .btn:hover {
  cursor: pointer;
  color: #3d626c !important;
  border-color: #3d626c !important;
  box-shadow: none !important;
  background-color: transparent !important;
}
.cid-tfkwfPBUFl .nav-tabs .nav-item .btn.active {
  color: #3d626c !important;
  border-color: #3d626c !important;
  box-shadow: none !important;
  background-color: transparent !important;
}
.cid-tfkwfPBUFl .nav-tabs .nav-item .btn:after {
  display: none;
}
.cid-tfkwfPBUFl .card1 {
  background: #99f5fe;
}
.cid-tfkwfPBUFl .card2 {
  background: #1eecff;
}
.cid-tfkwfPBUFl .card3 {
  background: #56f1ff;
}
.cid-tfkwfPBUFl .card4 {
  background: #eaf4f8;
}
.cid-tfkwfPBUFl .card1,
.cid-tfkwfPBUFl .card2,
.cid-tfkwfPBUFl .card3,
.cid-tfkwfPBUFl .card4 {
  height: calc(98%);
  margin: 1rem;
}
.cid-tfkwfPBUFl .plan-header {
  padding-top: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-tfkwfPBUFl .plan-body {
  padding-bottom: 5rem;
}
.cid-tfkwfPBUFl .price-figure {
  font-weight: 700;
  color: #3d626c;
}
.cid-tfkwfPBUFl .price-value {
  font-weight: 700;
  vertical-align: top;
  color: #3d626c;
}
@media (max-width: 767px) {
  .cid-tfkwfPBUFl .price-figure {
    font-size: 4.25rem;
  }
  .cid-tfkwfPBUFl .list-group-item {
    padding: 0.75rem 2rem;
  }
}
.cid-tfkwfPBUFl .plan-title,
.cid-tfkwfPBUFl .plan-text {
  color: #3d626c;
}
.cid-tfkwfPBUFl UL {
  color: #3d626c;
}
.cid-tfkwfPBUFl .mbr-fallback-image.disabled {
  display: none;
}
.cid-tfkwfPBUFl .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tfk2JFdOgs {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
  z-index: 1;
}
.cid-tfk2JFdOgs .card-box {
  padding: 0rem;
  height: 110px;
}
.cid-tfk2JFdOgs .card {
  max-width: 100%;
}
.cid-tfk2JFdOgs .icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
}
.cid-tfk2JFdOgs .wrapper {
  width: 100%;
  display: flex;
  padding: 0 1rem;
  flex-wrap: wrap;
  justify-content: center;
}
.cid-tfk2JFdOgs .row {
  background: #f8f8f8;
  position: relative;
  z-index: 0;
  padding: 4rem 0;
  border-radius: 8px;
}
@media (max-width: 767px) {
  .cid-tfk2JFdOgs .row {
    margin: 0rem;
  }
}
.cid-tfk2JFdOgs .card-wrapper {
  display: flex;
  flex-direction: column;
}
.cid-tfk2JFdOgs .card-wrapper:before {
  content: '';
  width: 2rem;
  height: 2px;
  background: #1c1c25;
  position: absolute;
  top: 50%;
  right: 0px;
  z-index: -1;
}
.cid-tfk2JFdOgs .card-wrapper:after {
  content: '';
  width: 2rem;
  height: 2px;
  background: #1c1c25;
  position: absolute;
  top: 50%;
  left: 0px;
  z-index: -1;
}
.cid-tfk2JFdOgs .container-fluid {
  overflow: hidden;
}
.cid-tfk2JFdOgs .order {
  display: flex;
  flex-direction: column-reverse;
}
@media (max-width: 767px) {
  .cid-tfk2JFdOgs .order {
    flex-direction: column;
  }
}
.cid-tfk2JFdOgs .card-title {
  transition: all 0.3s;
}
@media (min-width: 992px) {
  .cid-tfk2JFdOgs .col-lg-x {
    -ms-flex: 0 0 33.3%;
    flex: 0 0 33.3%;
    max-width: 33.3%;
  }
}
@media (min-width: 1600px) {
  .cid-tfk2JFdOgs .col-lg-x {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media (max-width: 1600px) {
  .cid-tfk2JFdOgs .md-pb {
    margin-bottom: 2rem;
  }
}
.cid-tfk2JFdOgs .number-wrapper {
  position: relative;
  margin: 3rem auto;
  width: fit-content;
}
.cid-tfk2JFdOgs .number-wrapper:before {
  content: '';
  width: 9999px;
  height: 2px;
  background: #1c1c25;
  position: absolute;
  top: 50%;
  right: 30px;
  z-index: -1;
}
.cid-tfk2JFdOgs .number-wrapper:after {
  content: '';
  width: 9999px;
  height: 2px;
  background: #1c1c25;
  position: absolute;
  top: 50%;
  left: 30px;
  z-index: -1;
}
.cid-tfk2JFdOgs .number-wrapper .icon-bg {
  position: absolute;
  overflow: visible;
  top: 3px;
  right: -3px;
  box-sizing: border-box;
  width: 100%;
  transition: all 0.3s;
  z-index: -1;
  height: 100%;
  border-radius: 4px;
}
.cid-tfk2JFdOgs .mbr-iconfont {
  font-size: 6rem;
  height: 100px;
}
.cid-tfk2JFdOgs .icon1 {
  color: #166308;
}
.cid-tfk2JFdOgs .icon2 {
  color: #166308;
}
.cid-tfk2JFdOgs .icon3 {
  color: #166308;
}
.cid-tfk2JFdOgs .icon4 {
  color: #166308;
}
.cid-tfk2JFdOgs .icon5 {
  color: #166308;
}
.cid-tfk2JFdOgs .number1 {
  background: #166308;
}
.cid-tfk2JFdOgs .number2 {
  background: #166308;
}
.cid-tfk2JFdOgs .number3 {
  background: #166308;
}
.cid-tfk2JFdOgs .number4 {
  background: #166308;
}
.cid-tfk2JFdOgs .number5 {
  background: #166308;
}
.cid-tfk2JFdOgs .number {
  color: #1c1c25;
  font-size: 0.8rem;
  font-weight: 600;
}
.cid-tfk2JFdOgs .card-text {
  color: #616161;
}
.cid-tfk2JFdOgs .iconfont-wrapper {
  position: relative;
  box-shadow: 0px 0px 0px 2px #1c1c25 inset;
  border-radius: 4px;
  min-width: 20px;
  width: 20px;
  align-items: center;
  display: flex;
  height: 20px;
  justify-content: center;
  transition: all 0.3s;
}
.cid-t2ZqsummWb {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-image: url("../../../assets/images/security-g5f40b5026-1920.jpg");
}
.cid-t2ZqsummWb .mbr-fallback-image.disabled {
  display: none;
}
.cid-t2ZqsummWb .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-t2ZqsummWb .col-title {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  display: flex;
}
.cid-t2ZqsummWb .title-container {
  display: flex;
  width: max-content;
  max-width: 100%;
  margin-bottom: 48px;
  padding: 1rem 2rem;
  border-style: solid;
  border-width: 4px;
  border-color: #f3f4ef;
  border-radius: 100vw;
}
.cid-t2ZqsummWb .mbr-section-title {
  color: #f3f4ef;
  margin-bottom: 0;
  text-align: center;
}
.cid-t2ZqsummWb .mbr-section-subtitle {
  color: #f3f4ef;
  margin-bottom: 0;
  width: 100%;
}
.cid-t2ZqsummWb .mbr-section-btn {
  margin-top: 50px;
}
.cid-t2ZqsummWb .mbr-section-subtitle,
.cid-t2ZqsummWb .mbr-section-btn {
  text-align: center;
}
.cid-tfkplikgYW {
  padding-top: 105px;
  padding-bottom: 75px;
  background-color: #ffffff;
}
.cid-tfkplikgYW .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-tfkplikgYW .btn {
  padding: 1rem 3rem;
  border-radius: 2rem;
}
@media (max-width: 767px) {
  .cid-tfkplikgYW .col-auto {
    margin: auto;
  }
}
.cid-tfkplikgYW textarea {
  min-height: 200px;
}
.cid-tfkplikgYW .form-control,
.cid-tfkplikgYW .field-input {
  padding: 1.5rem 2rem;
  box-shadow: inset 1px 1px 2px 0 #d2dce9;
  background-color: #edeff3;
  border-radius: 3rem;
  border: 0!important;
  color: #000000;
  transition: 0.4s;
  outline: none;
}
.cid-tfkplikgYW .form-control::-webkit-input-placeholder,
.cid-tfkplikgYW .field-input::-webkit-input-placeholder,
.cid-tfkplikgYW .form-control::-webkit-input-placeholder,
.cid-tfkplikgYW .field-input::-webkit-input-placeholder {
  color: #282d15;
}
.cid-tfkplikgYW .form-control:-moz-placeholder,
.cid-tfkplikgYW .field-input:-moz-placeholder,
.cid-tfkplikgYW .form-control:-moz-placeholder,
.cid-tfkplikgYW .field-input:-moz-placeholder {
  color: #282d15;
}
.cid-tfkplikgYW .form-control:hover,
.cid-tfkplikgYW .field-input:hover,
.cid-tfkplikgYW .form-control:focus,
.cid-tfkplikgYW .field-input:focus {
  background-color: #edeff3;
  color: #232323;
  border: 0!important;
  box-shadow: inset 1px 1px 2px 0 #d2dce9;
  outline: none;
}
.cid-tfkplikgYW .form-control:hover::-webkit-input-placeholder,
.cid-tfkplikgYW .field-input:hover::-webkit-input-placeholder,
.cid-tfkplikgYW .form-control:focus::-webkit-input-placeholder,
.cid-tfkplikgYW .field-input:focus::-webkit-input-placeholder,
.cid-tfkplikgYW .form-control:hover::-webkit-input-placeholder,
.cid-tfkplikgYW .field-input:hover::-webkit-input-placeholder,
.cid-tfkplikgYW .form-control:focus::-webkit-input-placeholder,
.cid-tfkplikgYW .field-input:focus::-webkit-input-placeholder {
  color: #36187d;
}
.cid-tfkplikgYW .form-control:hover:-moz-placeholder,
.cid-tfkplikgYW .field-input:hover:-moz-placeholder,
.cid-tfkplikgYW .form-control:focus:-moz-placeholder,
.cid-tfkplikgYW .field-input:focus:-moz-placeholder,
.cid-tfkplikgYW .form-control:hover:-moz-placeholder,
.cid-tfkplikgYW .field-input:hover:-moz-placeholder,
.cid-tfkplikgYW .form-control:focus:-moz-placeholder,
.cid-tfkplikgYW .field-input:focus:-moz-placeholder {
  color: #36187d;
}
.cid-tfkplikgYW .jq-number__spin:hover,
.cid-tfkplikgYW .jq-number__spin:focus {
  background-color: #edeff3;
  color: #ffffff;
  box-shadow: none;
  outline: none;
}
.cid-tfkplikgYW .jq-number__spin {
  background-color: #edeff3;
  color: #000000;
  transition: 0.4s;
  box-shadow: none;
  outline: none;
}
.cid-tfkplikgYW .jq-selectbox li,
.cid-tfkplikgYW .jq-selectbox li {
  background-color: #edeff3;
  color: #000000;
}
.cid-tfkplikgYW .jq-selectbox li:hover,
.cid-tfkplikgYW .jq-selectbox li.selected {
  background-color: #edeff3;
  color: #000000;
}
.cid-tfkplikgYW .jq-selectbox:hover .jq-selectbox__trigger-arrow,
.cid-tfkplikgYW .jq-number__spin.minus:hover:after,
.cid-tfkplikgYW .jq-number__spin.plus:hover:after {
  border-top-color: #edeff3;
  border-bottom-color: #edeff3;
}
.cid-tfkplikgYW .jq-selectbox .jq-selectbox__trigger-arrow,
.cid-tfkplikgYW .jq-number__spin.minus:after,
.cid-tfkplikgYW .jq-number__spin.plus:after {
  border-top-color: #edeff3;
  border-bottom-color: #edeff3;
}
.cid-tfkplikgYW input::-webkit-clear-button {
  display: none;
}
.cid-tfkplikgYW input::-webkit-inner-spin-button {
  display: none;
}
.cid-tfkplikgYW input::-webkit-outer-spin-button {
  display: none;
}
.cid-tfkplikgYW input::-webkit-calendar-picker-indicator {
  display: none;
}
.cid-tfkplikgYW H4 {
  color: #070900;
}
.cid-tfkplikgYW .form-control {
  font-size: 16px!important;
}
.cid-tfkpoVjKiX {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: #ffffff;
}
.cid-tfkpoVjKiX .google-map {
  height: 30rem;
  position: relative;
}
.cid-tfkpoVjKiX .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-tfkpoVjKiX .google-map [data-state-details] {
  color: #6b6763;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-tfkpoVjKiX .google-map[data-state] {
  background: #e9e5dc;
}
.cid-tfkpoVjKiX .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-tfkpoVjKiX .mbr-section-title {
  width: 100%;
  margin-bottom: 8px;
}
.cid-tfkpoVjKiX .mbr-section-subtitle {
  color: #555555;
  width: 100%;
  margin-bottom: 12px;
}
.cid-tfkpoVjKiX .mbr-fallback-image.disabled {
  display: none;
}
.cid-tfkpoVjKiX .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-t2ZvUBZ2Mo {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #1a0b43;
  overflow: hidden;
}
.cid-t2ZvUBZ2Mo .mbr-text {
  color: #1B1F0A;
}
.cid-t2ZvUBZ2Mo .media-container-row .mbr-text {
  color: #ffffff;
}
